body {
    margin: 0;
    padding: 0;
    font-family: "yahei";
}

.container {
    width: 100%;
    height: 100%;
}

.main {
    width: 80%;
    margin: 0 10%;
    height: 450px;
    position: absolute;
    top: 150px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 0.5%;
}

.showword {
    width: 70%;
    height: 450px;
    float: left;
}

.question {
    display: none;
}

.result {
/*    display: none;*/
}

.word_text {
    text-align: center;
    line-height: 260px;
    height: 260px;
    width: 100%;
    color: rgba(255,168,48,0.8);
    font-size: 80px;
    font-weight: 700;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
}

.choose_btn {
    height: 190px;
}

.choose_button {
    border: none;
    width: 80%;
    height: 60px;
    margin: 10px 10%;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
}

.remember {
    background-color: rgba(17,190,115,0.5);
}

.not_remember {
    background-color: rgba(191,47,50,0.5);
}

.result_text {
    width: 100%;
    height: 260px;
    color: rgba(255,168,48,0.8);
    text-align: center;
    font-weight: 700;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
}

.result_word {
    width: 100%;
    height: 170px;
    line-height: 170px;
    font-size: 60px;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
}

.result_mean {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 40px;
    margin-bottom: 50px; 
}

.menu_btn {
    width: 30%;
    height: 450px;
    float: left;
    padding-top: 10px;
}

.menu_button {
    color: rgba(255,168,48,0.8);
    font-weight: 700;
    font-size: 30px;
    width: 80%;
    margin: 20px 10%;
    border: none;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
}